ul.classlist {
    margin: auto;
    width: fit-content;
}

section {
    background-color: var(--ctp-frappe-crust);
    width: 100%;
}

/* Images in slide-gallery */

slide-gallery figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

slide-gallery figcaption {
    margin-top: 1rem;
}

slide-gallery img {
    margin: auto;
}
