h1, h2 {
    text-align: center;
    margin: 0.5rem;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main {
    background-color: var(--ctp-frappe-crust);
}

@media only screen and (min-width: 1700px) {
    body {
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    header {
        position: sticky;
        top: 1em;
        text-align: left;
        margin-left: 1em;
        align-self: flex-start;
        width: 20vw;
    }

    main {
        width: 80vw;
    }
    
    header h1 {
        text-align: left;
        margin-left: 1em;
    }

    nav {
        display: block; /* turn off flexbox centering above, so it is aligned left */
    }
}

img {
    float: left;
    opacity: 0.67;
    border-radius: 1rem;
    margin: 1rem;
}

p {
    margin: 1rem;
}

section {
    background-color: var(--ctp-frappe-crust);
}