@import "./catppuccin.css";

/* ====================================================================
    CSS Reset From https://andy-bell.co.uk/a-modern-css-reset/ 
   ==================================================================== */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ============================================================================================================
    Set Theme colors, trying to follow https://github.com/catppuccin/catppuccin/blob/main/docs/style-guide.md
   =========================================================================================================== */

html {
    background-color: var(--ctp-frappe-base);
    caret-color: var(--ctp-frappe-rosewater);
}

a {
    color: var(--ctp-frappe-blue);
}

a:visited {
    color: var(--ctp-frappe-blue);
}

a:hover {
    color: var(--ctp-frappe-rosewater);
}

body, h1 {
    color: var(--ctp-frappe-text);
}

h2, h3, h4, h5 {
    color: var(--ctp-frappe-subtext0);
}

label {
    color: var(--ctp-frappe-subtext1);
}

.highlight {
    color: var(--ctp-frappe-sapphire);
}

::selection {
    background-color: var(--ctp-frappe-rosewater);
    color: var(--ctp-frappe-base);
}

hr {
    border-color: var(--ctp-frappe-blue);
}

/* ======================
    My CSS Variables 
   ====================== */ 
   
:root {
    --border: 1px solid var(--ctp-frappe-overlay0);

    --button-hover-bkg: var(--ctp-frappe-blue);
    --button-hover-transition: background-color 0.2s ease-in-out;
    --button-border-radius: 0.5rem;
}

/* ======================
    Normal Styling
   ====================== */ 

/* Font */

@font-face {
  font-family: 'Jetbrains Mono';
  src: url("../fonts/JetBrainsMono-Regular.ttf");
}

body {
    font-family: 'Jetbrains Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
    caret-color: transparent;
}

/* Nav Bar */

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

nav a {
    text-decoration: none;
    padding: 0rem 1rem;
}

nav ul:not(.contact) a {
    border-right: var(--border);
}

nav li:last-child a {
    border-right: none;
}
