body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

@media screen and (max-width: 900px) {
    main {
        font-size: 1rem; 
    }
}

@media screen and (max-width: 600px) {
    nav {
        display: block; /* turn off flexbox centering above, so it is aligned left */
    }

    nav ul {
        flex-direction: column; /* orient vertically to fit in sidebar */
    }

    nav ul a {
        border-right: none;
        border-left: var(--border);
    }
}

h1 {
    text-align: center;
}

h1.cursor::after {
    content: ' ';
    white-space: pre;
    border-left: .125em solid var(--ctp-frappe-rosewater);
}

h1.cursor[data-flicker]::after {
    animation: cursorFlicker 1s infinite;
}

@keyframes cursorFlicker {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}