h1, h2, h3 {
    text-align: center;
    margin: 0.5rem;
}

h2 {
    padding-top: 1em;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main {
    background-color: var(--ctp-frappe-crust);
    flex: 1 1 auto;
}

hr {
    border: 0;
    margin: 0 0 0.5em 0;
    height: 1px;
    background: var(--ctp-frappe-blue);
}

img {
    border-radius: 1rem;
    margin: 1rem;
}

img.left {
    float: left;
    margin-right: 3rem;
}

img.right {
    float: right;
    margin-left: 3rem;
}

img.center {
    margin: auto;
}

/* Allow page fade-in on load */
page-splitter {
    transition: opacity 0.5s ease-in;
}
.fadein {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

p {
    margin: 2rem;
    padding: 1rem;
}

page-splitter > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flexs-start;
}

page-splitter > section > div.vcenter {
    margin: auto;
}

/* Restrict paragraph width on larger screens */
@media only screen and (min-width: 1400px) {
    p {
        max-width: 50vw;
    }
}

/* remove Paragraph margins on small devices, and turn off float on images
   because leads to strange look */
@media only screen and (max-width: 900px) {
    p {
        margin: 0;
    }

}

@media only screen and (max-width: 400px) {
    img {
        float: none !important;
        margin: auto; /* center */
    }
}