@import url(global.css);

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 100dvw;
    height: 80dvh;
    display: flex;
    flex-direction: row;
}

footer {
    width: 100dvw;
    height: 20dvh;

    background-color: var(--ctp-frappe-overlay0);
}

output {
    font-size: 2rem;
}

output#word-to-type {
    color: var(--ctp-frappe-blue);
}

.correct {
    color: var(--ctp-frappe-green);
}

.incorrect {
    color: var(--ctp-frappe-red);
}

output#typed-word {
    position: relative;
    color: var(--ctp-frappe-yellow);
    left: 50%;
    top: 50%;
}